* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background-color:#0e0e0e;
}
/* Encabezado*/

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container{
    width: 100%;
    margin: auto;
}
.btn-menu{
    display: none;
}

.nav-main {
    top: 0px;
    opacity: 90%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    background-color:  #14143e ;
    height: 100px;
    position: fixed;
}

.nav-main a{
    padding: 10px 20px;
    border-radius: 50px;
}

.nav-main a:hover {
    background: #f56f3a;
}
.nav-menu .menu-servicios {
    display:none;
    font-size: 15px;
    padding: 5px 0;
    }
    .nav-menu .servi:hover .menu-servicios{
        display: block;
        position: absolute;
        background: #424346;
        transition: transform .5s ease-in-out;
    }
    .nav-menu .servi .menu-servicios a:hover{
        background: none;
        text-decoration: underline;
     }

.nav-inser{
    margin-top: 0px;
    margin-left: 30px;
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
padding: 20px;
}
/* Responsive*/

@media (max-width:1500px) {
    .menu-btn {
        display: none;
    }
}

@media (max-width:1200px) {
    .nav-main {
        font-size: 20px;
    }
    .nav-main a{
        display: block;
        
    }
}
    @media (max-width:860px) {
        .nav-main ul.nav-menu {
            display: block;
            position: absolute;
            top:0;
            background: #424346;
            flex: 1;
            margin-left: 20px;
            transform: translate(-400px);
            transition: transform .5s ease-in-out;
            opacity: 90%;
        }
        .nav-menu .servi:hover .menu-servicios{
            margin-left: 162px;
            top: 0;
            width: 210px;
        }
        .nav-menu .servi:hover .menu-servicios a{
           padding: 0px 0px;
        }
        
        .nav-main ul.nav-menu.show{
         transform: translate(-20px);
        }
     .menu-btn{
         display: block;
         position: absolute;
         cursor: pointer;
         top:35px;
         right: 20px;
         z-index: 2;
         opacity: 87%;
     }
     .btn{
        font-size: 17px;
    }
}